<md-toolbar color="primary">
  <span>YOU Ledger Enquiry</span>
</md-toolbar>

<md-toolbar color="accent">
  <span>Transaction History</span>
</md-toolbar>

<div fxLayout="column">
    <div fxFlex="100">
        <cdk-table [dataSource]="contactDataSource">

            <!-- Column Definition: Firstname -->
            <ng-container cdkColumnDef="firstName">
              <cdk-header-cell *cdkHeaderCellDef> First Name </cdk-header-cell>
              <cdk-cell *cdkCellDef="let row"> {{row.first_name}} </cdk-cell>
            </ng-container>       

            <!-- Column Definition: Firstname -->
            <ng-container cdkColumnDef="lastName">
              <cdk-header-cell *cdkHeaderCellDef> Last Name </cdk-header-cell>
              <cdk-cell *cdkCellDef="let row"> {{row.last_name}} </cdk-cell>
            </ng-container>  

            <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
            <cdk-row *cdkRowDef="let row; columns: displayedColumns"></cdk-row>

        </cdk-table>
    </div>
</div>