<md-toolbar color="primary">
  <span>YOU Ledger Enquiry</span>
</md-toolbar>

<md-toolbar color="accent">
  <span>Transaction History</span>
</md-toolbar>

<div fxLayout="column">
    <div fxFlex="100">
        <md-table [dataSource]="contactDataSource">

            <!-- Column Definition: Firstname -->
            <ng-container cdkColumnDef="firstName">
              <md-header-cell *mdHeaderCellDef> First Name </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.first_name}} </md-cell>
            </ng-container>       

            <!-- Column Definition: Firstname -->
            <ng-container cdkColumnDef="lastName">
              <md-header-cell *mdHeaderCellDef> Last Name </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.last_name}} </md-cell>
            </ng-container>  

            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns"></md-row>

        </md-table>
    </div>
</div>